.constructor-canvas {
  height: 100%;
  width: 100%;
  background-color: #eff2f3;
}

.constructor-page {
  height: calc(100% - 45px);
  position: relative;
  display: flex;
  flex-direction: column;

  & > .constructor-page-header {
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
  }
}

.constructor-container {
  flex-grow: 1;
  overflow: auto;
  position: relative;
}

.constructor-branch {
  display: flex;
  flex-direction: row;
  position: relative; // required for linker
}

.constructor-step {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}


.constructor-block {
  min-height: 200px;
  padding: 15px;
  width: 280px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border-radius: 13px;

  &.subscription {
    border: solid 2px #2fb6ff;
    background-color: #eff1f6;
  }

  &.action {
    border: solid 2px #ebac0c;
    background-color: #f6f4ef;
  }

  & > .action-title {
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #161616;
  }
}

.linker {
  display: contents;
}