.constructor-canvas {
  height: 100%;
  width: 100%;
  background-color: #eff2f3;
}

.constructor-step {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 128px;
}


.constructor-branch-outer {
  overflow-x: auto;
  position: relative;

  &::before {
    content: '';
    height: 1px;
    width: 100%;
    margin: auto;
    position: absolute;
    background-color: black;
    display: block;
    top: 0;
  }

  &::after {
    content: '';
    height: 1px;
    width: 100%;
    position: absolute;
    background-color: black;
    display: block;
    bottom: 0;
  }
}
.constructor-branch {
  width: 100%;
  padding: 24px 48px;
  display: flex;
  flex-direction: row;
}


.constructor-block-outer {
  padding-bottom: 12px;
  &:last-child {
    padding-bottom: 0;
  }

  &.drag-over {
    padding-top: 104px;

    & * {
      pointer-events: none;
    }
  }
}

.constructor-block {
  width: 240px;
  min-height: 80px;
  background-color: white;
  border: silver solid 2px;
  position: relative;
  padding: 4px 8px;
  border-radius: 4px;

  &.linking {
    cursor: pointer;
  }
  &.linking:hover {
    border: blue solid 2px;
  }

  .dot-inner {
    position: absolute;
    right: -2px;
    bottom: calc(50% - 8px);
    padding: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }
    &:hover > .dot-outer {
      border-color: blue;
      border-style: solid;
      border-width: 1px;
      width: 6px;
      height: 6px;
    }

    .dot-outer {
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background-color: lightgray;
    }
  }
}

.linker {
  display: contents;
}